<<<<<<< HEAD
body{
  background: url(http://tognella-architectes.com/imagesUp/produits/2582-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
=======
ul li{
     position:relative;float:left;
     width:100px;height:100px;padding:10px;list-style:none;
}
/*permet de créer deux lignes*/
ul li:nth-child(40n){clear:left;}
>>>>>>> c8829fb9d2b23371f591fc712e4abbff1a292512

ul li a{
     display:block;overflow:hidden;
     width:100px;height:100px;
     margin-top:0px;margin-left:0px;
     border:0px solid rgba(0,0,0,0.7);
     transition-property:width,height,margin,z-index,border;
     transition-duration:0.4s;
}

ul li a:hover{
<<<<<<< HEAD
=======
     position:absolute;
>>>>>>> c8829fb9d2b23371f591fc712e4abbff1a292512
     width:200px;height:200px;
     margin-top:-56px;margin-left:-56px;
     z-index:100;
     border:6px solid rgba(0,0,0,0.7);
}

<<<<<<< HEAD
/*dimension de l'image*/
ul li a img{
     position:absolute;
     width:110px;height:100px;z-index:20;
=======
ul li a img{
     position:absolute;
     width:100px;height:100px;z-index:20;
>>>>>>> c8829fb9d2b23371f591fc712e4abbff1a292512
     transition-property:width,height,z-index;
     transition-duration:0.4s;
}

<<<<<<< HEAD
/* dimension de la souris */
ul li a:hover img{
     width:250px;height:250px;
     z-index:100;
}

	 #article21 ul{margin:200px 150px 20px 30px;position:relative;float:left;background:transparent;}
		 #article21 ul li{position:relative;width:100px;height:100px;padding:10px;list-style:none;float:left;}
		 #article21 ul li a{display:block;width:100px;height:100px;text-decoration:none;color:white;margin-top:0px;margin-left:0px;
		 }

		 #article21 ul li a:hover{position:absolute;width:200px;height:200px;border:6px solid rgba(0,0,0,0.7);
			border-radius:8px;
			margin-top:-56px;margin-left:-56px;z-index:100;overflow:hidden;
			}

			#article21 ul li a img.bigImg{opacity:1;position:absolute;
 width:100px !important;height:100px !important;z-index:20;
 box-shadow:0px 0px 5px rgba(0,0,0,0.6);
transition-duration:0.4s;
 }

/* nom, prénom qui s'affiche en passant la souris */
 #article21 ul li a:hover img.bigImg{width:4px !important;height:200px !important;z-index:100;}
 #article21 ul li a strong{position:absolute;bottom:-30px;opacity:0;}
 #article21 ul li a:hover strong{opacity:1;bottom:0px;
left:0px;width:190px;height:17px;padding:5px;background:rgba(0,0,0,0.8);margin-top:-30px;z-index:150;
 }

#simplon{
width: 90;
height: auto;
position: absolute;
right: 100px;
top:15px;
}

#iness{
width: 200;
height: auto;
position: absolute;
left: 20px;
top:15px;
border-radius: 15px;
}
=======
ul li a:hover img{
     width:200px;height:200px;
     z-index:100;
}
>>>>>>> c8829fb9d2b23371f591fc712e4abbff1a292512
